body {
    background-color: #3B9C9C; 
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-y: auto; 
}

header {
    background-color: #2F7F7F; /* Color más oscuro para el header */
    padding: 10px 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #FFA07A;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: #FFA07A; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    min-height: 100%; 
    margin: 20px 0; 
}

#container1 {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

h1 {
    color: #3B9C9C;
    font-size: 24px;
    margin: 0;
    text-align: center;
    top: 8px;
    position: relative;
}

h2 {
    color: #FFA07A;
    font-size: 20px;
    margin: 10px 0 0 0;
}

#container2 {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333333;
}

input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
    resize: vertical;
}

input[type="submit"], button {
    background-color: #3B9C9C;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: calc(100% - 20px);
    margin-bottom: 15px;
}

input[type="submit"]:hover, button:hover {
    background-color: #FFA07A;
}

button.add-pet {
    background-color: #FFA07A;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

button.add-pet:hover {
    background-color: #3B9C9C;
}

#dogacpt{
    position: relative;
    top: -10px;
    left: 40px;
}
#acptdog{
    position: relative;
    top: 19px;
    right: 196px;
}

footer {
    background-color: #2F7F7F; /* Color más oscuro para el footer */
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

#pet_id {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f5f5f5; /* Fondo para indicar que no es editable */
    color: #333333;
}