body {
    background-color: #3B9C9C; 
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2F7F7F; 
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #FFA07A;
}

.user-info {
    display: flex;
    align-items: center;
}

.icon-buttons {
    display: flex;
    align-items: center;
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

.icon-button img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.icon-button img:hover {
    transform: scale(1.2);
    width: 45px;
    height: 45px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.found-pets-container {
    width: 100%;
    max-width: 800px;
    background-color: #FFA07A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3B9C9C;
    font-size: 32px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.found-pet {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.found-pet h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #3B9C9C;
}

.found-pet img {
    width: 100%;          /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: 300px;        /* Establece una altura fija para todas las imágenes */
    object-fit: cover;    /* Asegura que la imagen cubra el contenedor sin distorsión */
    border-radius: 5px;
    margin-bottom: 15px;
}


.found-pet p {
    margin: 5px 0;
    font-size: 16px;
    color: #333333;
}

footer {
    background-color: #2F7F7F;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}
