body {
    background-color: #2F7F7F;
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2F7F7F; 
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid;
    padding: 20px;
    width: 300px;
    position: relative;
    border-radius: 10px;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 18px;
    margin-top: 100px;
    height: 360px;
}

img {
    width: 100px;
    height: 100px;
    margin-bottom: -10px;
}

h2 {
    color: #333;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    font-size: 24px; 
}

.email {
    margin-bottom: 10px;
    width: 85%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #f0f0f0, #dcdcdc);
    margin-top: 15px;
}

.enviar_email {
    margin-top: 20px;
    width: 85%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    background-color: #3B9C9C;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.enviar_email:hover {
    background-color: #FFA07A;
}

/* Estilos específicos para el párrafo en el formulario */
form p {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 13px;
    color: black;
    font-weight: bold;
    position: relative;
    right: 20px;
    top: 10px;
    text-decoration: underline;
}

.iniciase {
    margin-top: 20px;
    width: 120px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    background-color: #FFA07A;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translate(19px, 0px);
}

.iniciase:hover {
    background-color: #2F7F7F;
}

/* Estilos para el texto del footer */
.footer-text {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
}
